USE [master]
GO
/****** Object:  Database [Mobilya]    Script Date: 5.04.2023 12:50:53 ******/
CREATE DATABASE [Mobilya]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mobilya', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Mobilya.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Mobilya_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Mobilya_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Mobilya].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Mobilya]
GO
/****** Object:  Table [dbo].[KoltukSet]    Script Date: 5.04.2023 12:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KoltukSet](
	[KoltukNo] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](max) NOT NULL,
	[Kumas] [nvarchar](max) NOT NULL,
	[Renk] [nvarchar](max) NOT NULL,
	[Fiyat] [int] NOT NULL,
 CONSTRAINT [PK_KoltukSet] PRIMARY KEY CLUSTERED 
(
	[KoltukNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YatakOdasıSet]    Script Date: 5.04.2023 12:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YatakOdasıSet](
	[YatakOdaNo] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](max) NOT NULL,
	[Kumas] [nvarchar](max) NOT NULL,
	[Boyut] [nvarchar](max) NOT NULL,
	[Fiyat] [int] NOT NULL,
 CONSTRAINT [PK_YatakOdasıSet] PRIMARY KEY CLUSTERED 
(
	[YatakOdaNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YatakSet]    Script Date: 5.04.2023 12:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YatakSet](
	[YatakNo] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](max) NOT NULL,
	[Malzeme] [nvarchar](max) NOT NULL,
	[Boyut] [nvarchar](max) NOT NULL,
	[Fiyat] [int] NOT NULL,
 CONSTRAINT [PK_YatakSet] PRIMARY KEY CLUSTERED 
(
	[YatakNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YemekOdasıSet]    Script Date: 5.04.2023 12:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YemekOdasıSet](
	[YemekOdaNo] [int] IDENTITY(1,1) NOT NULL,
	[Malzeme] [nvarchar](max) NOT NULL,
	[KisiSayisi] [int] NOT NULL,
	[Fiyat] [int] NOT NULL,
 CONSTRAINT [PK_YemekOdasıSet] PRIMARY KEY CLUSTERED 
(
	[YemekOdaNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KoltukSet] ON 

INSERT [dbo].[KoltukSet] ([KoltukNo], [Model], [Kumas], [Renk], [Fiyat]) VALUES (1, N'Grace', N'Keten', N'Krem', 15000)
INSERT [dbo].[KoltukSet] ([KoltukNo], [Model], [Kumas], [Renk], [Fiyat]) VALUES (3, N'Netha', N'Tay Tüyü', N'Yeşil', 12000)
INSERT [dbo].[KoltukSet] ([KoltukNo], [Model], [Kumas], [Renk], [Fiyat]) VALUES (4, N'Cosmo', N'Suni Deri', N'Gri', 28000)
SET IDENTITY_INSERT [dbo].[KoltukSet] OFF
GO
SET IDENTITY_INSERT [dbo].[YatakOdasıSet] ON 

INSERT [dbo].[YatakOdasıSet] ([YatakOdaNo], [Model], [Kumas], [Boyut], [Fiyat]) VALUES (1, N'Riga', N'Keten', N'180*160', 55000)
INSERT [dbo].[YatakOdasıSet] ([YatakOdaNo], [Model], [Kumas], [Boyut], [Fiyat]) VALUES (6, N'Basel', N'Deri', N'200*200', 20000)
SET IDENTITY_INSERT [dbo].[YatakOdasıSet] OFF
GO
SET IDENTITY_INSERT [dbo].[YatakSet] ON 

INSERT [dbo].[YatakSet] ([YatakNo], [Model], [Malzeme], [Boyut], [Fiyat]) VALUES (1, N'Fresh Sense', N'Doğal Yün', N'180*160', 4000)
INSERT [dbo].[YatakSet] ([YatakNo], [Model], [Malzeme], [Boyut], [Fiyat]) VALUES (2, N'Wool Sense', N'Pamuklu', N'200*180', 5000)
SET IDENTITY_INSERT [dbo].[YatakSet] OFF
GO
SET IDENTITY_INSERT [dbo].[YemekOdasıSet] ON 

INSERT [dbo].[YemekOdasıSet] ([YemekOdaNo], [Malzeme], [KisiSayisi], [Fiyat]) VALUES (2, N'Ceviz', 10, 15000)
INSERT [dbo].[YemekOdasıSet] ([YemekOdaNo], [Malzeme], [KisiSayisi], [Fiyat]) VALUES (3, N'Ahşap', 15, 18000)
SET IDENTITY_INSERT [dbo].[YemekOdasıSet] OFF
GO
USE [master]
GO
